
.central{
    background: linear-gradient(white,black);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vh;
    
}

div{
    background: white;
    border-radius: 20px;
    width: 450px ;
    height: auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 14px 50px 70px;
    padding: 15px;
}

.central span{
    margin: 10px;
}

#dv{
    cursor: pointer;
    border-radius: 10px;
    width: 22rem;
    height: 2rem

}


#rc{
    cursor: pointer;
    border-radius: 10px;
    width: 22rem;
    height: 2rem
}


#pg{
    cursor: pointer;
    border-radius: 10px;
    width: 22rem;
    height: 2rem;
    margin: 10px;
}

button{
    width: 22rem;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

body input:focus{
    background:  silver;
    
}

.video{

    width: 100%; 
    height: 100vh; 
    position: absolute;  
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    
}


.trip{
    width: 250px;
    height: 250px;
}

.central input{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}