body{
    
     /* Height 100vh pra fazer o Site ter o tamanho da tela inteira */ 
    height: 100vh;
     /* Linear Gradient para fazer Degradê */ 
    background: linear-gradient(blue,red,purple);
     /*Posiciona a Imagem no meio da tele aonde quiser ( Display:flex) depois align-items: ; de cima pra baixo 
     justify-content alinhamento horizontal */ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
  width: 350px;
  height: 350px;
  background:hsl(180, 38%, 72%);
    border-radius: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Muda a ordem dos filhos   flex-direction (column) pra ficar um embaixo do outro*/
    flex-direction: column ;
    /*Contolar os filhos ja que estamps usando (display flex) gap*/
    gap: 10px;
    
}

.images button{
    cursor:pointer;
    width: 80px;
    border: none;
    /*outline Borda interna*/
    outline: none;
    background: linear-gradient(purple,red);
    color: white;
    height: 25px;
}