body{
    height: 100vh;
    display: grid;
    place-content: center;
    overflow: hidden;
    background-image: url(../images/Medidor-de-divergencia-steins-gate.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.central{
    
    background: none;
    display:  flex;    
    /*Gap e para separar os blocos */
    gap: 3rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px black;
    
}

.central div {
    
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    flex-direction: column;
    width: 100px;
    height: 150px;
    
    
}

.gooday {
    display: flex;
    background: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 3px 3px 10px black;
    font-size: larger;
    color: white;
}


.central div span{
     font-size: 80px;
}

.central div p{
    font-size: 20px;
    margin: 0;

}

